@font-face {
    font-family: "Poppins";
    src: url("/public/fonts/Poppins/Poppins-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Poppins-Bold";
    src: url("/public/fonts/Poppins/Poppins-Bold.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}


@font-face {
    font-family: "Times-New-Roman";
    src: url("/public/fonts/TimesRoman/Times-Roman-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}


@font-face {
    font-family: "Times-New-Roman-Italic";
    src: url("/public/fonts/TimesRoman/Times-Roman-Italic.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}



:root {

    --primary-color-red-bg: #a81a16;

    /* Your primary color */
    --primary-color-darkest-red: #380200;
    --primary-color-darker-red: #5C0705;
    --primary-color-dark-red: #8B0B08;
    --primary-color-red: #D92520;
    --primary-color-bright-red: #E0130D;
    --primary-color-brighter-red: #FF3832;
    --primary-color-light-red: #FF5B56;
    --primary-color-lighter-red: #FFA29F;
    --primary-color-lightest-red: #FFCECD;
    --primary-color-green: #28a745; 
    --primary-color-light-green: #b3e6b3;

    --secondary-color-darkest-yellow: #FFC300;
    --secondary-color-yellow: #f5ea14;
    --secondary-color-lightest-yellow: #FFF642;



    --darkest-grey: #12263F;
    --dark-grey: #617692;
    --grey: #D2DDEC;
    --light-grey: #EDF1F5;
    --lightest-grey: #F5F7FA;
   
    --background-color: #EDF1F5;
    --shadow-light: #ffffff;
    --shadow-dark: #a3a3a3;
    --text-color: #333;


}



*{

    /* Default Font Family */
    font-family: "Poppins";

    /* default padding & margin */
    padding: 0;
    margin: 0;

}
