/* @tailwind base;
@tailwind components;
@tailwind utilities; */


:root {

    /* Your primary color */
    --primary-color-darkest-red: #380200;
    --primary-color-darker-red: #5C0705;
    --primary-color-dark-red: #8B0B08;
    --primary-color-red: #D92520;
    --primary-color-bright-red: #E0130D;
    --primary-color-brighter-red: #FF3832;
    --primary-color-light-red: #FF5B56;
    --primary-color-lighter-red: #FFA29F;
    --primary-color-lightest-red: #FFCECD;


    --secondary-color-darkest-yellow: #FFC300;
    --secondary-color-yellow: #f5ea14;
    --secondary-color-lightest-yellow: #FFF642;



    --darkest-grey: #12263F;
    --dark-grey: #617692;
    --grey: #D2DDEC;
    --light-grey: #EDF1F5;
    --lightest-grey: #F5F7FA;


}
